__pycache__
/assembly
out.asm
out.o
out
compiler_notes.txt
closure_notes.txt
dynamic_typing_notes.txt
log.txt
.vscode
identifier
identifier.o
identifier_test
runtime
runtime.asm
runtime.o
me.c
me.s
lib.o
lib_test*
stack_alignment.c
identifier_test.c
generation.py
scheme_list.py
grammar.txt