__pycache__
/assembly
out.asm
out.o
out
compiler_notes.txt
dynamic_typing_notes.txt
log.txt
ptr_tag.c
.vscode
ptr_tag
identifier
identifier.o
identifier_test
runtime
runtime.asm
runtime.o